{% extends "base.html" %}
{% block contenido %}
{% load static  %}  
    <link rel="stylesheet" href="{% static 'crear_pacientes/css/style_enfer.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'crear_pacientes/css/style.css' %}" />
    
    <script src="{% static 'crear_pacientes/js/app.js' %}"></script>
    <script src="https://kit.fontawesome.com/c4c695cb79.js" crossorigin="anonymous"></script>

    <form action="{% url 'crear_pacientes:eliminar_paciente' rut=rut %}" method="POST">
        {% csrf_token %}
        <p style="color: red;">Está seguro de eliminar el paciente con el rut: = {{rut}}?</p>
        <input type="submit" value="Sí">
    </form>

{% endblock%}