<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eliminar asignatura</title>
</head>
<body>
    <form action="{% url 'app_individual4m6:eliminar_asignatura' pk=pk %}" method="POST">
        {% csrf_token %}
        Está seguro de eliminar en la DB asignatura con Id = {{asignatura.id}}?
        <input type="submit" value="Sí">
    </form>
</body>
</html>