
/* Pantalla de Login */



@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image:  url('../img/bg-wind-generators.jpg'); 
background-size: cover;
background-repeat: no-repeat;
height: 90%;
font-family: 'Numans', sans-serif;

}

.container{
height: 100%;
align-content: center;
}

.card{
height: 460px;
margin-top: auto;
margin-bottom: auto;
width: 450px;
background-color: rgba(97, 95, 95, 0.5) !important; 
}

.card-header h3{
color: white;
}

.card-footer{
    height: 70px;
    margin-top: auto;
    margin-bottom: auto;
    width: 450px;
    background-color: rgba(97, 95, 95, 0.5) !important; 
    }

.input-group-prepend span{
width: 50px;
background-color: #6d81f7;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #6d81f7;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: rgb(59, 155, 245);
}

